<!DOCTYPE html>

<html>
  <head>
    <title>Boule de cristal</title>
    
  </head>
  <body style="background-image: url('/static/images/euro.jpg');">
    <div class="container">
      <div class="paytext">
        <h4>Notre boule de cristal vous repond</h4>
      </div>
      <div style="color:white;padding:10px;text-align: center;">
        <h4>Voici le commentaire laissé par l'utilisateur :</br> 
        <i>{{ input_text }} </i> </br></br> 
         Ce commentaire est à {{prediction[1]*100}}% {{prediction[0]}} </h4>
      </div>
    </div>
  </body>
</html>
