<!DOCTYPE html>

<html>
  <head>
    <title>Boule de cristal</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css" />
  </head>
  <body style="background-image: url('/static/images/euro.jpg');">
    <div class="container">
      <div class="paytext">
        <h4>Bienvenue sur notre boule de cristal</h4>
      </div>
      <form action="/entrainement" method="POST">
        <input style="width: 50%;margin-left: 21%;" type="submit" value="Vérifier l'efficacité du model" />
      </form>
      <form action="/prediction" method="POST">
        <input style="width: 50%;margin-left: 21%;" type="submit" value="Lire la boule de cristal" />
      </form>
    </div>
  </body>
</html>
