body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
/*
 * Formatting the header area
 */
header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Centering the body content
 */
.container {
  width: 1200px;
  margin: 0 auto;
}
div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 3em;
  margin-top: 40px;

  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;

  letter-spacing: -1px;
  color: #999;
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}


body {
  background: rgba(20, 40, 40, 0.8);
  font-family: "Open Sans", sans-serif;
}

.container {
  position: relative;
  background: rgba(20, 20, 20, 0.8);
  max-width: 500px;
  height: 450px;
  margin: 60px auto;
  box-shadow: 0px 2px 14px 9px;
}

.paytext {
  color: #fff;
  text-align: center;
  background: #296e6e;
  width: 100%;
  padding: 1px;
  font-size: 20px;
}

label {
  color: #fff;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 10px;
  display: block;
  line-height: 34px;
}

input {
  background: none;
  border: none;
  border-bottom: 2px solid #96b2ba;
  color: white;
  width: 94%;
  font-family: cursive;
}

form {
  margin-left: 28px;
  margin-top: 31px;
}

input[type="submit"] { 
  width: 50%;
  background: none;
  margin-left: 21%;
  margin-top: 35px;
  border: 2px solid teal;
  padding: 10px;
}

input[type="submit"]:hover {
  background: teal;
  cursor: pointer;
}